* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
html {
  height: 100%;
}
#app {
  height: 100%;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.el-breadcrumb {
  line-height: 50px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.fb{
  font-weight: bold;
}
